<div class="body">
    <div class="container">
        <h1 class="title">Forgot <span class="subtitle">password.</span></h1>
    
        <div class="constainer-form">
            <div class="inputs">
                <div class="container-input">
                    <i class="fa-solid fa-asterisk icon"></i>
                    <input 
                        class="input" 
                        type="text" 
                        required 
                        placeholder="Nombre usuario" 
                        [(ngModel)]="nombreUsuarioR"
                    >
                </div>
                <div class="container-input">
                    <i class="fa-solid fa-lock icon"></i>
                    <input 
                        class="input" 
                        type="text" 
                        required 
                        placeholder="Nueva Contraseña"
                        required [(ngModel)]="contrasenaR"
                    >
                </div>
                <div class="container-input">
                    <i class="fa-solid fa-lock icon"></i>
                    <input class="input" type="text" required placeholder="Confirme contraseña">
                </div>
            </div>
            <div class="submite">
                <input class="submit" type="submit" value="RESTABLECER"  (click)="validarRec()">
            </div>
            <div id="mensajeRec">{{ mensajeRecuperacion }}</div>
        </div>
    </div>
</div>